body {
	background-color: #B5ABA2;
}

#image {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul.cd {
	list-style-image: url('images/CaveDs.png');
	list-style-position: inside;
}

ul.cn {
	list-style-image: url('images/Coral/LogoCircle.PNG');
	list-style-position: inside;
}

