body {
	background-color: #B5ABA2;
}

#image {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul.cd {
	max-width: 25vw;
	list-style-image: url('images/CaveDs.png');
    	list-style: none;
    	background-size: 2em;
    	background-position: left center;
    	background-repeat: no-repeat;
}

ul.cn {
	max-width: 25vw;
   	background-image: url(images/Coral/LogoCircle.PNG);
    	list-style: none;
    	background-size: 2em;
    	background-position: left center;
    	background-repeat: no-repeat;
}

